<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>{{message}}</h1>
    {{!-- <p>Producto: {{product.title}}</p> --}}
    {{!-- <p>Stock disponible: {{product.stock}}</p> --}}

    <div class="tienda-btn-container">
        <a class="btnMios noSub" href="/products">Volver a la Tienda</a>
    </div>

</body>
</html>